<!DOCTYPE html>

<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="app.js"></script>
    <title>My Wallets</title>
    <meta charset="UTF-8">
</head>

<body ng-app="WalletApp">
    <div id="fullBox" ng-controller="WalletController">
        <section id="topRow">
            <section id="walletMaker">
                <h2>My Wallets</h2>
                <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </section>
            <section id="currentBalance">
                <h2>Current Balance</h2>
                <h2>$729.00</h2>
            </section>
        </section>
        <section id="bottomRow">
            <section id="leftColumn">
                <!--<div ng-repeat="card in cardArray" ng-click="find{{ card.click }}()">
                    <i class="fa {{ card.icon }} fa-3x" aria-hidden="true"></i>
                    <p id="cardNumber">{{ card.number }}</p>
                    <p id="validText">Valid Thru: {{ card.valid }}</p>
                </div>-->
                <div ng-click="findVisa()">
                    <i class="fa fa-cc-visa fa-3x" aria-hidden="true"></i>
                    <p id="cardNumber">**** **** **** 2562</p>
                    <p id="validText">Valid Thru: 12/17</p>
                </div>
                <div ng-click="findAmex()">
                    <i class="fa fa-cc-amex fa-3x" aria-hidden="true"></i>
                    <p id="cardNumber">**** ****** 21001</p>
                    <p id="validText">Valid Thru: 07/19</p>
                </div>
                <div ng-click="findMaster()">
                    <i class="fa fa-cc-mastercard fa-3x" aria-hidden="true"></i>
                    <p id="cardNumber">**** **** **** 8335</p>
                    <p id="validText">Valid Thru: 09/17</p>
                </div>
            </section>
            <section id="rightColumn">
                <div class="transactionList" ng-repeat="transaction in transactionArray">
                    <div>
                        <p id="operator">{{ transaction.operator }}</p>
                    </div>
                    <div id="transactionDetails">
                        <h3>{{ transaction.title }}</h3>
                        <p>{{ transaction.category }}</p>
                        <p>{{ transaction.number }}</p>
                        <p>{{ transaction.date }}</p>
                    </div>
                    <div>
                        <p class="{{ transaction.divClass }}">{{ transaction.cost }}</p>
                    </div>
                </div>
            </section>
        </section>
    </div>
</body>
</html>
